*{
    margin: 0;
    padding: 0;
}
.wapper{
    background-color: rgb(31, 34, 35);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: table-cell;
}
.fontWapper{
    position: absolute;
    background-color: rgb(60, 67, 70);
    font-size: 50px;
    width: 200px;
    height: 100px;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: transparent;
    -webkit-text-stroke: 1px hotpink;
    line-height: 100px;
    text-align: center;
    text-shadow: 2px 2px 7px hotpink ;
}
